body {
	background-color: rgba(201, 251, 239, 0.6);
	background-image: url("../img/banana.jpg");
	background-blend-mode: overlay;
	margin: 0px;
	height: 100%;
}

.container {
	background-color: white;
	margin: 0 25%;
	height: 100vh;
}

.perfil {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 10px;
}

.texto {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 26px;
	margin: 0px 10px;
	padding: 10px 0px 10px 0px;
	color: #8340ca;
}

.p1 {
	padding: 0px 0px 10px 0px;
	margin: 0px 10px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 16px;
}

.p2 {
	padding: 0px;
	margin: 0px 20px;
	font-family: Helvetica;
	font-size: 14px;
}

.cuadros {
	width: 100%;
	margin: 0px 0px 0px 5px;
}

.grid {
	width: 23%;
	height: 100px;
	background-color: orange;
	float: left;
	margin: 5px;
}

.grid img {
	position: fixed;
	width: 150px;
	height: 100px;
}

.grid:hover {
	opacity: 0.7;
}





